.card {
  border-radius: 0.2rem;
  height: 300px;
  width: 200px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.footer {
  z-index: 1;
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}

.card:hover .connection {
  transform: translateY(0px);
}

.info {
  height: 190px;
  font-family: Inconsolata;
  padding-left: 2px;
  transform: translateY(30px);
  background: white;
  transition: transform 0.25s;
}

.card:hover .info {
  transform: translateY(-50px);
}

.card:hover .connection {
  transform: translateY(-40px);
}

.driver-type {
  height: 35px;
  width: 35px;
  display: inline-block;
  transform: translateY(-30px);
  transition: transform 0.25s;
  position: fixed;
  margin-left: 20px;
  padding: 5px;
}

.driver-type .icon {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
}

.citizen {
  background-image: url(./images/citizen.svg);
}

.professional {
  background-image: url(./images/professional.svg);
}
