/* * {
  border: 1px solid green;
} */

body {
  background-color: #f1f1f1;
}

.flex-item {
  width: 100px;
  height: 100px;
  margin: 10px;

  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.flex-container {
  flex-wrap: wrap;
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
}

.driver-card {
  height: 30rem;
  width: 20rem;
  background-color: white;
  color: #999999;
  border-radius: 0.4rem;
}

.driver-card img {
  width: 15rem; /* width of container */
  height: 15rem; /* height of container */
  object-fit: cover;
}
.driver-details {
  height: 15rem;
  background: red;
  transition: height 0.4s;
}

.driver-details:hover {
  height: 200px;
}

.error {
  color: red;
}

.search {
  background-color: #20b8ea;
  color: white;
  height: auto;
}
